<h1>Admins#top</h1>
<p>Find me in app/views/admins/top.html.erb</p>
<p><%= link_to "商品", new_admins_artist_path%></p>
<p><%= link_to "ユーザー"%></p>
<p><%= link_to "在庫"%></p>
<p><%= link_to "配送状況"%></p>
<p><%= link_to "logout", destroy_admin_session_path, method: :delete%></p>

