<h1>Admins::Items#new</h1>
<p>Find me in app/views/admins/items/new.html.erb</p>

<p><%= @artist.artist_name %>の商品を追加</p>

<%= form_for(@item) do |f| %>
<p>シングル/アルバム名</p>
<%= f.text_field :album_name %>
<p>ジャンルID</p>
<%= f.text_field :genre_id %>
<p>レーベル名</p>
<%= f.text_field :label %>
<p>値段</p>
<%= f.text_field :item_price_tax_free %>
<p>在庫数</p>
<%= f.text_field :stock %>
<%= f.submit "商品を新規追加する"%>
<% end %>