<h1>Admins::Artists#show</h1>
<p>Find me in app/views/admins/artists/show.html.erb</p>

<p> <%= @artist.artist_name %> の商品一覧</p>

<table>
  <tr>
    <th>シングル/アルバム名</th>
    <th>詳細</th>
  </tr>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.album_name %></td>
    <td><%= link_to "この商品の詳細へ", admins_artist_item_path(item) %></td>
  </tr>
  <% end %>
</table>


<p><%= link_to "このアーティストの商品を追加する",new_admins_artist_item_path(@artist) %></p>

<p><%= link_to "アーティスト選択画面に戻る", new_admins_artist_path %></p>